#top-navbar {
  z-index: 10000;
  background: @minor-bg;
  border-radius: 0px;
  font-family: Adam;
  overflow: hidden;

  .top-menu {
    ul {
      margin: 0;
      padding: 0;
      margin-top: 7px;
      li {
        font-size: 15px;
        display: inline;
        color: @labels;
        margin: 1px;
        padding: 10px 20px;

        a {
          text-decoration: none;
          color: inherit;

          &:hover {
            color: @helper-labels;
            cursor: pointer;
          }
        }

      }
    }
  }
}

#logo-component {
  &.logo-block {
    display: inline-block;
    cursor: pointer;

    &.big {
      img {
        height: 150px;
      }

      div.logo-text {
        font-size: 38px;
      }
    }

    &.small {
      img {
        height: @navbar-height;
      }

      div.logo-text {
        font-size: 10px;
      }
    }

    div.logo-text {
      color: @labels;
      display: inline-block;
      top: -1px;
      position: absolute;
    }
  }
}