#app, #main-layout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: @navbar-height;
}

#content {
  position: static;
  width: 100%;
  height: auto;
  margin-top: @navbar-height;
}