#app, #main-layout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#top-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: @navbar-height;
}

#content {
  position: absolute;
  top: @navbar-height;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}