@import "variables.less";
@import "layout.less";
@import "fonts.less";
@import "c3-header.less";
@import "account.less";

#content {
  background: lighten(@major-bg, 5%);

  &.auth {
    background: @minor-bg;

    .form-container {
      position: absolute;
      top: 15%;
      left: 35%;

      #logo-component {
        margin-bottom: 40px;
      }

      form {
        width: 300px;
        margin-left: 20px;

        label {
          color: white;
        }

        input {
          border-radius: 0;
          border-color: white;
        }
      }
    }
  }

  .c3-modal-header {
    margin: 0;
    padding: 10px;
    background: @minor-bg;
    color: @daffodil;
    font-size: 22px;
    font-weight: bold;
  }

  .c3-modal-content {
    padding: 10px;
    margin: 0;
    font-size: 12px;
  }

  .offers-container, .meetups-container, .welcome-container {
    text-align: center;
    margin: 20px auto;
    background: #fff;
    border-radius: 4px;
    box-shadow: 5px 5px 10px;
    color: @minor-bg;

    h3 {
      margin: 0;
      padding: 0;
    }

    &, table, table tr {
      color: @minor-bg
    }

    table {
      overflow-y: auto;
    }
  }

  .welcome-container {
    width: 95%;
    font-size: 15px;
  }

  .offers-container, .meetups-container {
    width: 90%;
    min-height: 300px;
  }
}